@font-face {
   font-family: 'typographPro';
   src: url('./fonts/typographPro/tp_Extra_Bold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'typographPro';
   src: url('./fonts/typographPro/tp_Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'typographPro';
   src: url('./fonts/typographPro/tp_Semi_Bold.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'typographPro';
   src: url('./fonts/typographPro/tp_Ultra_Light.ttf') format('truetype');
   font-weight: 100;
   font-style: normal;
}

@mixin transition($time...){
  transition: $time;
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
}


$background-color: #eee;
$text-color: #222;
$subtext-color: rgb(80, 80, 80);
canvas {
   @include transition(opacity 2s);
   opacity: 0;
}

body {
	background-color: $background-color;
}

.contactContainer {
   margin-top: 50px;
   width: 500px;
   height: 150px;
   overflow: hidden;
   position: relative;
   float: right;
   //background-color: yellow;
}
.contact {
   //background-color: red;
   width: 100px;
   margin-left: 350px;
   padding-right: 50px;
   height: 50px;
   text-align: right;
   font:{
      size: 12px;
      family: sans-serif;
      weight: 500;
   }
   text-transform: uppercase;
   letter-spacing: 3px;
}
.contactInfo {
   //background-color: cyan;
   line-height: 20px;
   position: absolute;
   right: -500px;
   margin: 0;
   padding-right: 50px;
   height: 90px;
   width: 450px;
   text-align: right;
   font:{
      size: 10px;
      family: sans-serif;
      weight: 500;
   }
   text-transform: uppercase;
   letter-spacing: 2px;
}
.container {
   float: left;
   display: block;
	width: 100%;
	margin: 0;
	margin-top: 100px;
	text-align: center;
	.name {
		display: inline-block;
		opacity: 0;
		color: $text-color;
		@include transition(1s);
		font:{
			size: 50px;
			family: 'typographPro', sans-serif;
			weight: 400;
		}
		text-transform: uppercase;
		letter-spacing: 10px;
	}
	.horiLine {
		@include transition(2s);
		opacity: 0;
		display: inline-block;
		width: 200px;
		background-color: $text-color;
		height: 1px;
		margin: 0 20px 15px 20px;
      @media screen and (max-width: 1100px) {
         display: none;
      }
	}
}
#arrowKeys {
   opacity: 0;
   text-align: center;
   color: $subtext-color;
   @include transition(opacity 2s);
   font:{
      size: 8px;
      family: sans-serif;
      weight: 100;
   }
   text-transform: uppercase;
   letter-spacing: 4px;
}
#score {
   opacity: 0;
   text-align: center;
   color: $subtext-color;
   @include transition(opacity 4s);
   font:{
      size: 15px;
      family: sans-serif;
      weight: 100;
   }
   text-transform: uppercase;
   letter-spacing: 4px;
}
@media screen and (max-width: 700px) {
   canvas { display: none;}
   #arrowKeys { display: none;}
   .container {
      .name {
         font-size: 30px;
      }
   }
   .contactContainer{
      position: fixed;
      float: left;
      width: 100%;
      bottom: 5%;
      .contact{
         padding: 0;
         text-align: center;
         margin: 0 auto;
      }
      .contactInfo {
         width: 300px;
         padding: 0;
         position: relative;
         text-align: center;
         right: 0;
         margin: 0 auto;
      }
   }
}
